# Tout ignorer
*
*.py

# Autoriser uniquement ces fichiers à la racine
!.gitignore
!readme.md
!README.md

# Autoriser uniquement Images
!Images/
!Images/**
!images/
!images/**

# Autoriser uniquement Exécutable & json
!Exécutable & json/
!Exécutable & json/**